.cardapio-produtos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: rgba(255, 255, 255, 0.40);
    height: 567px;
    width: 660px;
    border-radius: 20px;
    margin: 35px 0 0 48px;
}