.cardapio-produtos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: rgba(255, 255, 255, 0.40);
  height: 567px;
  width: 660px;
  border-radius: 20px;
  margin-top: 20px;
  overflow-y: auto;
}

.cardapio-filtro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.40);
  ;
  height: 57px;
  width: 660px;
  margin-top: 20px;
  border-radius: 20px;
}

.filtro-cardapio {
  font-family: 'Quicksand', sans-serif;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  color: #112359;
  font-size: 21px;
  padding: 10px 7px;
  margin: 0 1px;
}

.filtro-cardapio:focus {
  background-color: rgba(17, 35, 89, 0.4);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal {
  background-color: #4183A5;
  width: 597px;
  height: 466px;
  border-radius: 20px;
}

.selecao-opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-container {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.radio-container>div {
  display: flex;
  align-items: center;
}

.grupo-radio>label {
  font-size: 22px;
  color: #FFF;
}

.imagem-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  gap: 132px;
  /* Espaçamento entre as imagens */
}

.imagem-modal {
  margin: 0 5px;
  width: 50px;
}

.instrucao-selecao {
  font-size: 30px;
  color: #FFF;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

.grupo-radio {
  display: flex;
  align-items: center;
}

.espacamento-extra {
  margin-left: 30px;
}

.espacamento-extra-imagem {
  margin-left: 20px;
}

.imagem-modal-maior {
  width: 70px;
}

.radio-container-opcional {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.botoes-modal {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

@media (max-width: 712px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .cardapio-filtro {
    height: 99px;
    margin-left: 5px;
    width: 362px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .filtro-cardapio {
    font-size: 17px;
  }

  .cardapio-produtos {
    width: 362px;
    margin-left: 5px;
  }

  .cards-produto {
    height: 128px;
    width: 126px;
  }

  .modal {
    width: 350px;
    height: 363px
  }

  .instrucao-selecao {
    font-size: 22px;
  }

  .radio-container {
    gap: 30px;
  }

  .grupo-radio>label {
    font-size: 14px;
  }

  .imagem-container {
    gap: 70px;
  }

  input[type=radio] {
    height: 16px;
    width: 16px;
  }

  .imagem-modal {
    width: 37px;
  }

  .radio-container-opcional {
    gap: 72px;
  }
  .imagem-modal-maior {
    width: 52px;
}
}

@media screen and (min-height: 600px) {
  .cardapio-produtos {
    margin-bottom: 45px;
  }
}