.cardapio-produtos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: rgba(255, 255, 255, 0.40);
    height: 567px;
    width: 660px;
    border-radius: 20px;
    margin: 35px 0 0 48px;
}

.cardapio-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.40);;
    height: 57px;
    width: 660px;
    margin: 20px 0 0 48px;
    border-radius: 20px;
}

.filtro-cardapio {
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    color: #112359;
    font-size: 21px;
    padding: 10px 7px;
    margin: 0 1px;
}

.filtro-cardapio:focus {
    background-color: rgba(17, 35, 89, 0.4); 
}