.card-pedido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.40);
    width: 451px;
    height: 567px;
    margin-top: 20px;
}

.icone-carrinho {
    color: #112953;
    margin-left: 5px;
    font-size: 34px;
}

.span-carrinho {
    margin-right: 10px;
}

.resumo-compra {
    color: #112953;
    font-size: 21px;
}

.item {
    margin-right: 200px;
    margin-left: 10px;
    font-size: 20px;
    color: #112953;
}

.quantidade {
    margin-right: 55px;
    font-size: 20px;
    color: #112953;
}

.preco {
    font-size: 20px;
    color: #112953;
}

.itens-qtd-preco {
    margin-top: 2px;
}

.listra-carrinho {
    border: none; /* Remove a borda padrão */
    border-top: 2px solid  #112953; /* Define a nova borda com a largura desejada */
    margin: 0;
}

.total {
    margin-left: 20px;
    margin-right: 42px;
    font-size: 21px;
    color: #112953;
}

.inicio-carrinho {
    height: 450px;
}

.listra-total {
    border: none; /* Remove a borda padrão */
    border-top: 2px solid  #112953; /* Define a nova borda com a largura desejada */
    margin: 0;
}

.produto-selecionado {
    font-size: 20px;
    color: #112953;
    display: grid;
    margin-top: 3px;
    grid-template-columns: 210px 25px 25px 30px 85px auto;
    align-items: center;
    column-gap: 10px;
}
  
.item-selecionado {
    grid-column: 1;
    margin-left: 10px;
}
  
.icone-minus {
    grid-column: 2;
    text-align: center;
}
  
.quantidade-selecionada {
    grid-column: 3;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 5px;
}
  
.icone-plus {
    grid-column: 4;
    text-align: center;
}
  
.preco-selecionado {
    grid-column: 5;
}
  
.icone-lixeira {
    grid-column: 6;
    text-align: center;
}

.container-total {
    display: flex;
    justify-content: space-between;
}

.produto-info {
    display: flex;
    flex-direction: column;
}
  
.tipo-hamburguer-adicional {
    margin-top: 4px;
    font-size: 14px;
    margin-left: 10px;
}

.modal-pedido-realizado {
    background-color: #4183A5;
    width: 597px;
    height: 466px;
    border-radius: 20px;
}

.icone-modal {
    display: flex;
    justify-content: flex-end;
} 

.icone-fechar-modal {
    font-size: 40px;
    color: #112953;
    margin: 10px 10px 0 0;
}  

.conteudo-principal-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.imagem-pedido-realizado {
    width: 310px;
}

.p-pedido-realizado {
    font-size: 36px;
    color: #fff;
    margin: 10px 0 0 0 ;
}

@media (max-width: 768px) {
    .card-pedido {
        width: 362px;
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .resumo-compra {
        font-size: 17px;
    }

    .icone-carrinho {
        font-size: 29px;
    }

    .item {
        font-size: 17px;
        margin-right: 128px;
    }

    .quantidade {
        font-size: 17px;
    }

    .preco {
        font-size: 17px;
    }

    .produto-selecionado{
        grid-template-columns: none;
        font-size: 17px;
    }

    .preco-selecionado{ 
        font-size: 17px;
    }

    .total {
        font-size: 20px;
    }

    .modal-pedido-realizado {
        width: 330px;
        height: 466px;
    }

    .p-pedido-realizado {
        font-size: 30px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .card-pedido {
        width: 672px;
    }

    .resumo-compra {
        font-size: 19px;
    }

    .item {
        font-size: 19px;
        margin-right: 257px;
    }

    .quantidade {
        font-size: 19px;
        margin-right: 154px;
    }

    .preco {
        font-size: 19px;
    }

    .produto-selecionado{
        grid-template-columns: 268px 25px 25px 131px 132px auto;
        font-size: 19px;
    }

    .preco-selecionado{ 
        font-size: 19px;
    }

    .modal-pedido-realizado {
        width: 400px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .card-pedido {
        width: 672px;
    }

    .resumo-compra {
        font-size: 19px;
    }

    .item {
        font-size: 19px;
        margin-right: 257px;
    }

    .quantidade {
        font-size: 19px;
        margin-right: 154px;
    }

    .preco {
        font-size: 19px;
    }

    .produto-selecionado{
        grid-template-columns: 268px 25px 25px 131px 132px auto;
        font-size: 19px;
    }

    .preco-selecionado{ 
        font-size: 19px;
    }
}

@media screen and (min-height: 600px) {
    .card-pedido {
        margin-bottom: 45px;
    }
}
  