.pedidos-instrucao {
    display: inline-block;
    background-color: #112953;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 65px;
    margin-left: 250px;
}

.menu-cozinha {
    display: grid;
    grid-template-columns: 25% 75%;
}

.menu-cozinha-coluna {
    grid-column: 1;
}

.pedidos {
    display: grid;
    grid-column: 2;
    grid-template-columns: auto auto;
}

.div-img-sem-pedidos {
    display: flex;
    justify-content: center;
}  

.img-sem-pedidos {
    margin-top: 248px;
    width: 373px;
}

.cards-pedidos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.32);
    height: 280px;
    width: 337px;
    margin-left: 77px;
    border-radius: 10px;
    padding: 8px;
    margin-top: 40px;
    overflow: auto
}

.pedido {
    font-size: 18px;
    color: #112953;
    font-weight: bold; 
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.titulo-pedido {
    font-size: 24px;
    color: #112953;
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.botoes-pedidos {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu-link {
    text-decoration: none;
}

@media (max-width: 768px) {
    .pedidos-instrucao {
        margin-left: 0;
    }

    .menu-cozinha {
        display: flex;
        flex-direction: column;
    }

    .menu-cozinha-coluna {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .pedidos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards-pedidos {
        width: 295px;
        margin-left: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .titulo-pedido {
        font-size: 22px;
    }

    .img-sem-pedidos {
        margin-top: 70px;
        width: 240px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .pedidos-instrucao {
        font-size: 30px;
        margin-left: 155px;
    }

    .menu-cozinha {
        display: flex;
        flex-direction: column;
    }

    .menu-cozinha-coluna {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .pedidos {
        /* display: flex;
        flex-direction: column;
        align-items: center; */

        display: grid;
        /* grid-column: 2; */
        grid-template-columns: auto auto;
    }

    .cards-pedidos {
        width: 295px;
        margin-left: 37px;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    /* .titulo-pedido {
        font-size: 22px;
    } */

    .img-sem-pedidos {
        margin-top: 70px;
        width: 400px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .pedidos-instrucao {
        font-size: 45px;
        margin-left: 190px;
    }

    .menu-cozinha {
        display: flex;
        flex-direction: column;
    }

    .menu-cozinha-coluna {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .pedidos {
        /* display: flex;
        flex-direction: column;
        align-items: center; */

        display: grid;
        /* grid-column: 2; */
        grid-template-columns: auto auto;
    }

    .cards-pedidos {
        width: 295px;
        margin-left: 37px;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    /* .titulo-pedido {
        font-size: 22px;
    } */

    .img-sem-pedidos {
        margin-top: 90px;
        width: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .pedidos-instrucao {
        font-size: 35px;
        margin-left: 190px;
    }

    .img-sem-pedidos {
        margin-top: 90px;
        width: 460px;
    }
}