@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}

.cards-mesa {
    background-color: rgba(255, 255, 255, 0.55);
    height: 200px;
    width: 180px;
    margin-left: 77px;
}

.imagem-card {
    width: 160px;
}

.texto-card {
    color: #112359;
    font-family: 'Quicksand', sans-serif;
    font-size: 27px;
    margin: 0 0 7px 0;
}