@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

.menu {
    background: transparent;
    border: none;
    margin: 23px 0 0 50px;
    cursor: pointer;
}

.imagem-menu {
    width: 200px;
}

hr {
    border: none; /* Remove a borda padrão */
    border-top: 4px solid #fbfc4e;; /* Define a nova borda com a largura desejada */
    margin: 0;
}

.texto-menu {
    color: #fbfc4e;
    font-family: 'Fredoka', sans-serif;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 0.05em;
}

@media screen and (min-width: 1280px) {
    .menu {
        margin-left: 90px;
        margin-top: 50px;
    }
}