@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background: url('../public/imagens/bg-bob.jpg') no-repeat center center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
